doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      nav(class='nav-bar') 
        ul 
          a(href="/") 
            li Home
    block content
